@import url(//fonts.googleapis.com/css?family=Nobile);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css);

html {
    height: 100%;
}

body {
    height: 100%;
    font: 12px 'Nobile', verdana, sans-serif;
}

#fs {
    width: 100%;
    height: 100%;
}

#map-container {
    height: 80%;
}

#charts-container {
    position: relative;
    height: 20%;
}

#charts {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    overflow: hidden;
}

#sliders {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 7em;
}

select {
    font: inherit;
}

.map-ctrl, .doarama-ctrl {
    border: 1px inset #555555;
    padding: 4px;
    margin: 2px 5px;
    background-color: #adff2f;
    text-align: right;
    border-radius: 4px;
    opacity: 0.9;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.vg-new {
    background-color: #ffff00;
}

.map-ctrl div, .map-ctrl span {
    font: 12px 'Nobile', verdana, sans-serif;
}

.map-ctrl ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-ctrl h3 {
    font-weight: bold;
    padding: 0 0 5px 0;
    margin: 0;
}

.map-ctrl [class^="fa"] {
    text-align: center;
    margin-left: 5px;
}

.map-ctrl [class^="fa"]:before {
    width: 1em;
}

.vgps3-topo-logo {
  margin: 2px 5px;
  background: white;
  color: black;
  text-decoration: none;
}

.modal-dialog {
  font-size: 14px;
  border: 1px solid #006400;
  color: #000;
  position: absolute;
  box-shadow: 4px 4px 2px rgba(100, 100, 100, 0.6);
  overflow: hidden;
  z-index: 10000;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #228b22;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  position: absolute;
  top: 0;
  left: 0;
}

.modal-dialog-title {
  background: #228b22;
  color: white;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
  opacity: 0.9;
}

.modal-dialog-buttons {
  text-align: right;
}

.goog-buttonset-default {
  font-weight: bold;
}

#about-social {
    padding-left: 10px;
    list-style-type: none;
}

.goog-modalpopup-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: black;
    color: black;
}

.goog-modalpopup {
    position: absolute;
    z-index: 1000;
    outline: none;
}

.goog-slider-horizontal {
    position: relative;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}

.goog-slider-horizontal:focus {
    outline: none;
}

.goog-slider-horizontal .goog-slider-thumb {
    position: absolute;
    overflow: hidden;
    border-radius: 2px;
    background-color: #555;
    width: 10px;
    height: 10px;
    cursor: col-resize;
    z-index: 2;
}

.vgps3-progress {
    margin-top: -50%;
    margin-left: -50%;
    overflow: hidden;
    text-align: center;
}

.vgps3-progress p {
     font-size: 1.5em;
     color: white;
}

.vgps3-progress p.error {
    color: red;
}

.vgps3-as-info {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.vgps3-as-title {
    font-size: larger;
    font-weight: bold;
    font-variant: small-caps;
    text-decoration: none;
}

.vgps3-as-info a:link,.vgps3-as-info a:visited, .vgps3-as-info a:active, .vgps3-as-info a:hover {
    text-decoration: none;
    color: inherit;
}