@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(font-awesome.css);

html {
    height: 100%;
}

body {
    height: 100%;
    font: 12px 'Nobile', verdana, sans-serif;
}

#map-container {
    height: 80%;
}

#charts-container {
    position: relative;
    height: 20%;
}

#charts {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 95%;
    overflow: hidden;
}

#sliders {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5%;
    background: -webkit-linear-gradient(left,white, #333);
    background: -moz-linear-gradient(left,white, #333);
    background: -ms-linear-gradient(left,white, #333);
    background: -o-linear-gradient(left,white, #333);
    background: linear-gradient(to right,white, #333);
}

.map-ctrl {
    border: 1px inset #555555;
    padding: 4px;
    margin: 2px 5px;
    background-color: #FFFFCC;
    text-align: right;
    border-radius: 4px;
    opacity: 0.9;
}

.map-ctrl ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.map-ctrl h3 {
    font-weight: bold;
    padding: 0 0 5px 0;
    margin: 0;
}

.modal-dialog {
  font-size: 14px;
  border: 1px solid #000;
  color: #000;
  position: absolute;
  box-shadow: 4px 4px 2px rgba(100, 100, 100, 0.6);
  overflow: hidden;
}

.modal-dialog a,
.modal-dialog a:link,
.modal-dialog a:visited  {
  color: #06c;
  cursor: pointer;
}

.modal-dialog-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.modal-dialog-title {
  background: black;
  color: white;
  cursor: pointer;
  font-size: 120%;
  font-weight: bold;
  padding: 8px 31px 8px 8px;
  position: relative;
  _zoom: 1;
}

.modal-dialog-buttons,
.modal-dialog-content {
  background-color: #fff;
  padding: 8px;
}

.modal-dialog-buttons {
  text-align: right;
}

.goog-buttonset-default {
  font-weight: bold;
}

#about-social {
    margin-left: -1.34em;
}
