.vgps3-chart-cursor {
    width: 0;
    height: 100%;
    border-left: 1px dashed black;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1000;
}

.vgps3-sliders-title {
    position: relative;
    width: 100%;
    height: 25%;
    cursor: pointer;
    text-align: center;
    overflow: hidden;
    background-color: #adff2f;
}

.vgps3-sliders-title h1 {
    font-size: 14px;
    font-variant: small-caps;
    position: absolute;
    top: 50%;
    margin: -.5em 0 0 .5em;
}

.vgps3-chart-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.vgps3-slider-hscale {
    position: absolute;
    top: 50%;
    margin-top: -2px;
    border: 1px inset #d3d3d3;
    width: 100%;
    height: 0;
    z-index: 1;
}

#sliders .goog-slider-horizontal {
    height: 25%;
}

#sliders .goog-slider-thumb {
    top: 15%;
    height: 70%;
    width: 15%;
}


