/**
 * Copyright Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.skyways.templates}

/**
 */
{template .control}
  <span class="icon-road icon-2x"></span>
{/template}
