/**
 * Copyright 2012 Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.loadMask.templates}

/**
 * @param message
 * @param class
 */
{template .wait}
<div class="vgps3-progress">
  <img src="img/wait.gif" width="300px" height="219px" alt="chargement" />
  <p class="{$class}">{$message}</p>
</div>
{/template}