/**
 * Copyright Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.doarama.templates}

/**
 */
{template .doaramaControl}
  <span id="vgps3-doarama"></span>
  <i class="fa fa-fw fa-video-camera fa-2x"></i>
{/template}
