/**
 * Copyright Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.templates}

/**
 * About VisuGps
 */
{template .about}
  <p>VisuGps v{vgps3.VERSION} © 2012-2018 Victor Berchet</p>
  <ul id="about-social">
    <li><span class="icon-twitter-sign icon-large"></span><a href="http://twitter.com/vberchet">@vberchet</a></li>
    <li><span  class="icon-github-sign icon-large"></span><a href="http://github.com/vicb">vicb</a></li>
  </ul>
  <p>Contributeurs: <a href="https://github.com/twpayne">Tom Payne</a>
  <p>Propulsé par
    &nbsp;<a href="https://developers.google.com/maps/documentation/javascript/">Google Maps</a>,
    &nbsp;<a href="http://www.microsoft.com/maps/product/terms.html">Bing Maps</a>,
    &nbsp;<a href="https://developers.google.com/chart/">Google Chart Tools</a>,
    &nbsp;<a href="http://www.doarama.com/terms">DoArama</a>,
    &nbsp;<a href="http://cesiumjs.org/">Cesium</a>,
    &nbsp;<a href="http://www.google.com/earth/explore/products/plugin.html">Google Earth Plugin</a>.
  </p>
  <p>Utiliser <a href="https://github.com/vicb/VisuGps3">github</a> pour les bugs et suggestions</p>
  <p>Si vous rencontrez des problèmes avec DoArama, suivez <a href="http://get.webgl.org/troubleshooting/">ce lien</a> pour
  vous aider à configurer votre navigateur</a>
{/template}
