/**
 * Copyright Victor Berchet
 *
 * This file is part of VisuGps3
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 *
 */

{namespace vgps3.fullscreen.templates}

/**
 * @param expand
 */
{template .fsControl}
  <i class="fa  {if $expand}fa-expand{else}fa-compress{/if} fa-2x"></i>
{/template}
